<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper">


	<select id="board" resultType="com.study.vo.BoardVO" parameterType="map">
		select * from (
			select
				rownum rnum
				,SEQ
				,MEM_ID
				,MEM_NAME
				,BOARD_SUBJECT
				,BOARD_CONTENT
				,REG_DATE
				,UPT_DATE
				,VIEW_CNT
			from board_study
			where 1=1
			<if test="search !='all'">
				<choose>
					<when test="search !='subCont'">
						and ${search} like '%${searchTxt}%'
					</when>
					<otherwise>
						and (board_subject like '%${searchTxt}%' or board_content like '%${searchTxt}%')
					</otherwise>
				</choose>
			</if>
			<if test="stDate != null and stDate != ''">
				and to_char(reg_date,'yyyy-MM-dd') between #{stDate} and #{enDate}
			</if>
		) where rnum between ((${pageNo}-1)*${listSize}+1) and (${pageNo} * ${listSize})
	</select>
	
	<select id="total" parameterType="map" resultType="integer">
			select count(seq) 
			from board_study
			where 1=1
			<if test="search !='all'">
				<choose>
					<when test="search !='subCont'">
						and ${search} like '%${searchTxt}%'
					</when>
					<otherwise>
						and (board_subject like '%${searchTxt}%' or board_content like '%${searchTxt}%')
					</otherwise>
				</choose>
			</if>
			<if test="stDate != null and stDate != ''">
				and to_char(reg_date,'yyyy-MM-dd') between #{stDate} and #{enDate}
			</if>
	</select>
	
	<insert id = "insert" parameterType="com.study.vo.BoardVO">
		insert into board_study(
			SEQ
			,MEM_ID
			,MEM_NAME
			,BOARD_SUBJECT
			,BOARD_CONTENT
			,REG_DATE
			,VIEW_CNT
		)values(
<!-- 			자동증가 -->
			(select nvl(max(seq),0)+1 from board_Study)
			,#{MEM_ID}
			,#{MEM_NAME}
			,#{BOARD_SUBJECT}
			,#{BOARD_CONTENT}
			,sysdate
			,'0'
		)
	</insert>
	
	<select id="detail" resultType="com.study.vo.BoardVO" parameterType="integer">
		SELECT
			SEQ
			,MEM_ID
			,MEM_NAME
			,BOARD_SUBJECT
			,BOARD_CONTENT
			,REG_DATE
			,UPT_DATE
			,VIEW_CNT
		FROM BOARD_STUDY
		WHERE SEQ = #{seq}
	</select>
	
	<update id="update" parameterType="com.study.vo.BoardVO">
		update board_study
		set MEM_ID = #{MEM_ID}
			,MEM_NAME = #{MEM_NAME}
			,BOARD_SUBJECT = #{BOARD_SUBJECT}
			,BOARD_CONTENT = #{BOARD_CONTENT}
			,UPT_DATE = sysdate
		where seq = #{SEQ}
	</update>
	
	<delete id="delete" parameterType="list">
		delete from board_study
		where seq in
		<foreach collection="list" open="(" close=")" separator="," item="item">
			#{item.value}
		</foreach>
	</delete>
</mapper>

