<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.myspring.ex.mappers.BoardMapper">
	<!-- 게시판 리스트보기 -->
	<select id="selectBoardList" resultType="com.myspring.ex.domain.BoardVO">
		SELECT ID, WRITER_NAME, TITLE, CONTENT, PASSWORD, REG_DATE
		  FROM BOARD
	</select>
</mapper>